@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-hover: #1D4ED8;
  --color-primary-active: #1E40AF;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-200;
  }
}
